%width-full {
  left: 0;
  right: 0;
}
%height-full {
  top: 0;
  bottom: 0;
}
%size-full {
  @extend %width-full;
  @extend %height-full;
}
%no-img-hi {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

html,
body,
body > * {
  position: fixed;
  width: 100%;
  height: 100%;
  // border: 1px dashed;
}
body {
  margin: 0;
}

#Casa {
  display: grid;
  align-content: center;
  // border: 1px dashed;
}
#Banner {
  position: absolute;
  @extend %size-full;
  z-index: -1;
  background-image: url(../assets/banner.jpg);
  background-size: cover;
  animation: fadein 12s ease-in;
  // border: 1px dashed;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#Off {
  width: 100%;
  cursor: alias;
  @extend %no-img-hi;
  // pointer-events: none;
  // border: 1px dashed;
}
